body {
    margin: 0;
    padding: 0;
    font-family: 'bahnschrift';
    background-image: url('./imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar {
    z-index: 1;
    background-color:transparent;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
   margin-left: 90%;
}

.menu {
    display: flex;
    transition: opacity 0.3s ease-in-out;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.content {
    padding: 20px;
}





.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.header .carita{
    width: 110px;
    height: 110px;
    margin-right: -50px;
   
}
.header .logo{
    width:350px;
    height: 200px;
    margin: 0 -40px 0 0;
}
.header .medioOjo{
    width: 150px;
    height: 170px;
    margin-left: -30px;
} 

.header .rayito{
    width: 95px;
    height: 95px;
    margin-right: -90px;
    margin-left: -30px;
   
}
.header .logo2{
    width:320px;
    height: 200px;
    margin: 0 -40px 0 0;
}

.header .pastilla{
    width: 70px;
    height: 90px;
    padding-top: 70px;
    margin-left: -10px;
  
} 



.tragos{
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
   
}
.tragos h2{
    z-index: 1;
  color: rgb(245, 245, 245);
  background-color: rgba(192, 13, 153, 0.737);
    width: 85px;
    height: 25px;
    margin-left:20px ;
    padding-top:5px ;
    padding-left: 10px;
    border-bottom-right-radius: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}
.tragos .sin-alcohol{
    z-index: 1;
    width: 130px;

}


.tragos-item{
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: rgb(245, 245, 245);
    margin-left:20px ;
    margin-top: -15px;
}


.tragos-item .nombre-precio .vino{
    font-size: 0.9rem;
    line-height: 2;
}


.tragos-item .promo{
    z-index: 1;
    color:rgba(255, 132, 228, 0.65) ;
    margin-top: -10px;
    font-size: 1rem;
}
.gines{
    z-index: 1;
    margin-top: -10px;
    font-size: 1rem;
    font-weight: 300;
}
.gines span{
    margin-left: 10px;
}
.nombre-precio{
    z-index: 1;
    display: flex;
}
.tragos-item .nombre-precio h3{
    z-index: 1;
    font-weight: 400;
    font-size: 1rem;
}
.tragos-item .nombre-precio .precio{
    z-index: 1;
    color:rgba(0, 0, 0, 0.967) ;
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    border-radius: 3px;
   margin-left: 10px;
   margin-right: 30px;
   
}

.tragos-item .ingredientes{
    z-index: 1;
    color:rgba(255, 132, 228, 0.904) ;
    margin-top: -18px;
    font-size: 0.9rem;
}

.imagen-con-opacidad {
    position: relative;
    width:100%; 
    height: 200px; 
    overflow: hidden;
    margin: 50px 0;
  }

  .imagen-con-opacidad img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .gradiente-opacidad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(203, 191, 191, 0.415));
  }

/* imagenes de fondo */
.tragos .planeta{
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: -1;
    margin-top: 370px;
    margin-left: 180px;
}
.tragos .ojo{
    position: absolute;
    width: 130px;
    height: 160px;
    z-index: -1;
    margin-top:210px;
}
.tragos .ojo2{
    position: absolute;
    width: 170px;
    height: 160px;
    z-index: -1;
    margin-left: 200px;
    margin-top: 300px;
}


.footer{
    display: flex;
    height: 160px;
 

}
.footer a{
color: aliceblue;
list-style-type: none;
text-decoration: none;
font-weight: 100;
margin-top: 60px;
margin-left: 50%;

}


@media only screen and (max-width: 768px) {
    .menu {
        z-index: 2;
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color:black;
        color: white;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1.3s ease-in-out;
    }

    .menu.show {
        display: flex;
        opacity: 1;
        pointer-events: auto;
    }

    .menu a {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid white;
    }
    .menu a:hover{
        color:rgba(255, 132, 228, 0.89) ;
    }

    .menu-icon {
        display: block;
    }
}

@media (min-width:470px){
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}